<%- include ('../partials/head_quest') %>
<script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.9.3/tsparticles.confetti.bundle.min.js"></script>
    <main class="slds-card">
        
        <div class="slds-card">
                <div class="slds-text-heading_medium">Ready to go?</div>
                <div class="slds-text-body_regular">
                        아래의 4가지 항목을 마치시면 됩니다.
                </div>
                <!-- Argument로 받은 Username, password를 출력합니다. 실제 Scratch Org 로그인시 사용 가능 -->
                <div class="slds-text-body_regular">
                    user name : <%- username %>, password :  <%- password %>
                </div>
                    <div class="slds-tile__detail">
                        <center>   
                          <a href="https://test.salesforce.com" id="loginUrl" target="_blank" class="slds-button slds-button_brand" style="display: none;"></a>
                          <button onclick="openscratchorg();" class="slds-button slds-button_brand">실습 환경 실행 (Login 필요 가능)</button> 
                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          <button onclick="question_launch(99);" id="question99" class="slds-button slds-button_brand">실습 환경 리셋(Admin)</button> 
                          <div id="status99" class="slds-m-bottom_small sfdx-output"></div>
                        </center>
                    </div>
                <br/>               
                
        </div> 

        <!-- 1번 항목, 현재는 데이터 입력임 향후 변경 가능 -->
        <div class="slds-card">
            <div class="slds-text-heading_medium">항목 #1</div>
            <div class="slds-text-body_regular">
                    실습 설명서에 따라, 차량 관리 앱에 실제 데이터를 입력합니다.
            </div>
            <center><button class="slds-button slds-button_brand" id="question10" onclick="question_launch(10);">확인하기</button></center>
            <div id="status10" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <!-- 2번 항목, 현재는 Field 추가임 향후 변경 가능 -->
        <div class="slds-card">
            <div class="slds-text-heading_medium">항목 #2</div>
            <div class="slds-text-body_regular">
                    차량 내용 보기 화면의 레이아웃을 변경합니다.
            </div>
            <center><button class="slds-button slds-button_brand" id="question20" onclick="question_launch(20);">확인하기</button></center>
            <div id="status20" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <!-- 3번 항목, 현재는 리포트 생성임 향후 변경 가능 -->
        <div class="slds-card">
            <div class="slds-text-heading_medium">항목 #3</div>
            <div class="slds-text-body_regular">
                    보고서에 Sunroof 항목을 추가해 주세요
            </div>
            <center><button class="slds-button slds-button_brand" id="question30" onclick="question_launch(30);">확인하기</button></center>
            <div id="status30" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <!-- 4번 항목, 현재는 대시보드 생성임, 향후 변경 가능 -->
        <div class="slds-card">
            <div class="slds-text-heading_medium">항목 #4</div>
            <div class="slds-text-body_regular">
                    대시보드에서 3번째 보고서의 Chart를 다른 형태로 변경해 주세요.
            </div>
            <center><button class="slds-button slds-button_brand" id="question40" onclick="question_launch(40);">확인하기</button></center>
            <div id="status40" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <div id="errorBlock" style="display: none;">
            <div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

                <div class="slds-notify slds-notify_toast slds-theme_error" role="alert">
                    <span class="slds-assistive-text">Error</span>

                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            <strong id="errorTest">An error occurred while deploying.</strong>&nbsp;See the browser console logs for more
                            information.
                        </h2>
                    </div>
                </div>

            </div>
        </div>

        <script>

        var _1_username = '<%- JSON.stringify(username) %>';
        //var _2_username = decodeURIComponent(_1_username);
        var varusername = _1_username.replaceAll('"', '');
        //varusername.replace('\"','');
        console.log('++ Sunny : varusername : [', varusername + ']');

        var _1_password = '<%- JSON.stringify(password) %>';
        console.log('++ Sunny : varpassword : [', _1_password + ']');
        //var _2_password = decodeURIComponent(_1_password);
        //console.log('++ Sunny : varpassword : [', _2_password + ']');
        var varpassword = _1_password.replaceAll('"', '');

        //varpassword.replace('\"','');
        console.log('++ Sunny : varpassword : [', varpassword + ']');


        var statusnumber = "status10";
        var elementnumber = "question10";
        var _urlstr;


        // url_check = '/checkdashboard?action=check&username=' + encodeURIComponent(localStorage.getItem("username")) + '&password=' + encodeURIComponent(localStorage.getItem("password"));
        question_launch= async function(seq) {
            //defaultContent('Questions !!');
            switch(seq) {
                case 10:    statusnumber = "status10";
                            elementnumber = "question10";
                            //_urlstr = "/trailhead?action=checkTravelApprovalRecord";
                            _urlstr = "/trailhead?action=checkTravelApprovalRecord&username=" + encodeURIComponent(varusername) + "&password=" + encodeURIComponent(varpassword);
                            break;
                case 20:    statusnumber = "status20";
                            elementnumber = "question20";
                            _urlstr = "/trailhead?action=checkField&username=" + encodeURIComponent(varusername) + "&password=" + encodeURIComponent(varpassword);;
                            break;
                case 30:    statusnumber = "status30";
                            elementnumber = "question30";
                            _urlstr = "/trailhead?action=checkReports&username=" + encodeURIComponent(varusername) + "&password=" + encodeURIComponent(varpassword);
                            break;
                case 40:    statusnumber = "status40";
                            elementnumber = "question40";
                            _urlstr = "/trailhead?action=checkDashboards&username=" + encodeURIComponent(varusername) + "&password=" + encodeURIComponent(varpassword);
                            break;
                case 99:    statusnumber = "status99";
                            elementnumber = "question99";
                            if (!confirm("ADMIN : 실습 환경을 리셋 하시겠습니까?")) break;
                            _urlstr = "/trailhead?action=resetOrg&username=" + encodeURIComponent(varusername) + "&password=" + encodeURIComponent(varpassword);
                            break;

            }

            let response = await fetch(_urlstr);
        
            //console.log(response);
            //console.log("response:", response.status);
            //console.log("response:", response.statusText);
            
            <!-- trailhead.js를 호출하여, 해당 검증을 마친다. 성공시 Button을 Disable시키고, 실패시 메시지를 출력한다 -->

            if(response.status == 200) {
                let raw_data = await response.text();

                //console.log("response data :", raw_data);
                data = JSON.parse(raw_data);
                
                if(data.ok == true) {
                    console.log("data.ok = true");
                    document.getElementById(elementnumber).disabled = true;
                    document.getElementById(elementnumber).innerHTML = "Done";
                    defaultContent(data.successmsg, statusnumber);
                } else {
                    console.log("data.ok = false");
                    defaultContent(data.errormsg, statusnumber);
                }
            } else defaultContent(response.statusText, statusnumber);

            //<!-- 전체 항목이 Disable 되면, 문제를 모두 해결 한 것으로 보고 마침 -->
            if(document.getElementById("question10").disabled == true
                && document.getElementById("question20").disabled == true
                && document.getElementById("question30").disabled == true
                && document.getElementById("question40").disabled == true) {
                    const count = 200,
                    defaults = {
                        origin: { y: 0.7 },
                    };

                    function fire(particleRatio, opts) {
                    confetti(
                        Object.assign({}, defaults, opts, {
                        particleCount: Math.floor(count * particleRatio),
                        })
                    );
                    }

                    fire(0.25, {spread: 26,startVelocity: 55,});
                    fire(0.2, {spread: 60,});
                    fire(0.35, {spread: 100, decay: 0.91, scalar: 0.8,});
                    fire(0.1, {spread: 120, startVelocity: 25, decay: 0.92, scalar: 1.2,});
                    fire(0.1, {spread: 120,startVelocity: 45,});
            }
        }

        defaultContent = function (content, varwhere) {
            var para = document.createElement("p");
            para.classList.add('slds-m-vertical_medium');
            var node = document.createTextNode(content);
            para.appendChild(node);

            var element = document.getElementById(varwhere);
            element.appendChild(para);
        }

        var openscratchorg=function() {
            //window.location.href=localStorage.getItem("loginUrl");
            //url_scratch_org = localStorage.getItem("loginUrl");
            url_scratch_org = "https://test.salesforce.com";
            //url_check = '/checkdashboard?action=check&username=' + encodeURIComponent(localStorage.getItem("username")) + '&password=' + encodeURIComponent(localStorage.getItem("password"));
            console.log('Open window #1 : [' + url_scratch_org + ']');
            //console.log('Open window #2 : [' + '/?action=delete&instance=' + localStorage.getItem("instanceUrl") + '&token=' + localStorage.getItem("loginUrl") + ']');
            //console.log('Open window #2 : [' + url_check + ']');
            //  checkdashboard?action=check&username=test-b3n55jvymgkj@example.com&password=aaqdqpeK7^wdw

            window.open(url_scratch_org,"_blank");
            //window.open(url_check,"_blank");

        }

        var ResetOrg=function() {
            
            //url_scratch_org = localStorage.getItem("loginUrl");
            if (confirm("ADMIN : 실습 환경을 리셋 하시겠습니까?")) {
            url_scratch_org = "https://test.salesforce.com";

            _urlstr = "/trailhead?action=checkDashboards&username=" + encodeURIComponent(varusername) + "&password=" + encodeURIComponent(varpassword);
            //url_check = '/checkdashboard?action=check&username=' + encodeURIComponent(localStorage.getItem("username")) + '&password=' + encodeURIComponent(localStorage.getItem("password"));
            console.log('Open window #1 : [' + url_scratch_org + ']');
            //console.log('Open window #2 : [' + '/?action=delete&instance=' + localStorage.getItem("instanceUrl") + '&token=' + localStorage.getItem("loginUrl") + ']');
            //console.log('Open window #2 : [' + url_check + ']');
            //  checkdashboard?action=check&username=test-b3n55jvymgkj@example.com&password=aaqdqpeK7^wdw

            window.open(url_scratch_org,"_blank");
            //window.open(url_check,"_blank");
            }

        }
        </script>
        

    </main>
    <%- include ('../partials/footer') %>