<%- include ('../partials/head') %>

    <main class="slds-card">
        
        <div class="slds-card">
                <div class="slds-text-heading_medium">Ready to go?</div>
                <div class="slds-text-body_regular">
                        아래의 3가지 퀘스트를 마치시면 됩니다.
                </div>
                <div class="slds-text-body_regular">
                    참고 user name : <%- username %>, password :  <%- password %>
                </div>
                <input type="hidden" id="_username" value="<%- username %>" >
                <input type="hidden" id="_password" value="<%- password %>" >
                <br/>               
                
        </div> 

        <div class="slds-card">
            <div class="slds-text-heading_medium">Question #1</div>
            <div class="slds-text-body_regular">
                    리포트를 만들어 봅시다 #1
            </div>
            <center><button class="slds-button slds-button_brand" id="question1" onclick="question1_launch();">확인하기</button></center>
            <div id="status1" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <div class="slds-card">
            <div class="slds-text-heading_medium">Question #2</div>
            <div class="slds-text-body_regular">
                    리포트를 만들어 봅시다 #2
            </div>
            <center><button class="slds-button slds-button_brand" id="question1" onclick="question1_launch();">확인하기</button></center>
        </div> 

        <div class="slds-card">
            <div class="slds-text-heading_medium">Question #3</div>
            <div class="slds-text-body_regular">
                    리포트를 만들어 봅시다 #3
            </div>
            <center><button class="slds-button slds-button_brand" id="question1" onclick="question1_launch();">확인하기</button></center>
        </div> 

        <div id="errorBlock" style="display: none;">
            <div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

                <div class="slds-notify slds-notify_toast slds-theme_error" role="alert">
                    <span class="slds-assistive-text">Error</span>

                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            <strong id="errorTest">An error occurred while deploying.</strong>&nbsp;See the browser console logs for more
                            information.
                        </h2>
                    </div>
                </div>

            </div>
        </div>

        <script>

        var varusername = '<%- JSON.stringify(username) %>'.replaceAll('"', '');
        //varusername.replace('\"','');
        console.log('++ Sunny : varusername : [', varusername + ']');

        var varpassword = '<%- JSON.stringify(password) %>'.replaceAll('"', '');
        //varpassword.replace('\"','');
        console.log('++ Sunny : varpassword : [', varpassword + ']');

        question1_launch=function() {
            //defaultContent('Questions !!');
            var _urlstr = "/trailhead?action=checkTravelApprovalRecord&username=" + varusername + "&password=" + varpassword;
            fetch(_urlstr)
                .then((response) => {
                    console.log("response:", response);
                    defaultContent1(response);}
                )
                .catch((error) => {
                    console.log("error:", error);
                    defaultContent1(error);}
                )

        }

        defaultContent1 = function (content) {
            var para = document.createElement("p");
            para.classList.add('slds-m-vertical_medium');
            var node = document.createTextNode(msgCounter + '. ' + content);
            para.appendChild(node);

            var element = document.getElementById("status1");
            element.appendChild(para);
        }

        </script>
        

    </main>
    <%- include ('../partials/footer') %>