<%- include ('../partials/head') %>

    <main class="slds-card">
        
        <div class="slds-card">
                <div class="slds-text-heading_medium">Ready to go?</div>
                <div class="slds-text-body_regular">
                        아래의 3가지 퀘스트를 마치시면 됩니다.
                </div>
                <div class="slds-text-body_regular">
                    참고 user name : <%- username %>, password :  <%- password %>
                </div>
                <br/>               
                
        </div> 

        <div class="slds-card">
            <div class="slds-text-heading_medium">Question #1</div>
            <div class="slds-text-body_regular">
                    실제 데이터를 하나 입력합니다 #1
            </div>
            <center><button class="slds-button slds-button_brand" id="question1" onclick="question1_launch();">확인하기</button></center>
            <div id="status1" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <div class="slds-card">
            <div class="slds-text-heading_medium">Question #2</div>
            <div class="slds-text-body_regular">
                    2개의 리포트를 만들어 봅시다 #2
            </div>
            <center><button class="slds-button slds-button_brand" id="question2" onclick="question2_launch();">확인하기</button></center>
            <div id="status2" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <div class="slds-card">
            <div class="slds-text-heading_medium">Question #3</div>
            <div class="slds-text-body_regular">
                    앞의 리포트를 활용하여 대시보드를 만들어 봅시다 #3
            </div>
            <center><button class="slds-button slds-button_brand" id="question3" onclick="question3_launch();">확인하기</button></center>
            <div id="status3" class="slds-m-bottom_small sfdx-output"></div>
        </div> 

        <div id="errorBlock" style="display: none;">
            <div class="slds-notify_container slds-is-relative slds-m-bottom_large sfdx-wrap">

                <div class="slds-notify slds-notify_toast slds-theme_error" role="alert">
                    <span class="slds-assistive-text">Error</span>

                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            <strong id="errorTest">An error occurred while deploying.</strong>&nbsp;See the browser console logs for more
                            information.
                        </h2>
                    </div>
                </div>

            </div>
        </div>

        <script>

        var _1_username = '<%- JSON.stringify(username) %>';
        var _2_username = decodeURIComponent(_1_username);
        var varusername = _2_username.replaceAll('"', '');
        //varusername.replace('\"','');
        console.log('++ Sunny : varusername : [', varusername + ']');

        var _1_password = '<%- JSON.stringify(password) %>';
        var _2_password = decodeURIComponent(_1_username);
        var varpassword = _2_password.replaceAll('"', '');

        //varpassword.replace('\"','');
        console.log('++ Sunny : varpassword : [', varpassword + ']');

        question1_launch= async function() {
            //defaultContent('Questions !!');
            const statusnumber = "status1";
            var _urlstr = "/trailhead?action=checkTravelApprovalRecord&username=" + varusername + "&password=" + varpassword;
            let response = await fetch(_urlstr);
        
            console.log(response);
            console.log("response:", response.status);
            console.log("response:", response.statusText);
            
            if(response.status == 200) {
                let raw_data = await response.text();

                console.log("response data :", raw_data);
                data = JSON.parse(raw_data);
                
                if(data.ok == true) {
                    console.log("data.ok = true");
                    document.getElementById("question1").disabled = true;
                    document.getElementById("question1").innerHTML = "Done";
                    defaultContent(data.successmsg, statusnumber);
                } else {
                    console.log("data.ok = false");
                    defaultContent(data.errormsg, statusnumber);
                }
            } else defaultContent(response.statusText, statusnumber);
        }

        question2_launch= async function() {
            //defaultContent('Questions !!');
            const statusnumber = "status2";
            var _urlstr = "/trailhead?action=checkReports&username=" + varusername + "&password=" + varpassword;
            let response = await fetch(_urlstr);
        
            console.log(response);
            console.log("response:", response.status);
            console.log("response:", response.statusText);
            
            if(response.status == 200) {
                let raw_data = await response.text();

                console.log("response data :", raw_data);
                data = JSON.parse(raw_data);
                
                if(data.ok == true) {
                    console.log("data.ok = true");
                    document.getElementById("question2").disabled = true;
                    document.getElementById("question2").innerHTML = "Done";
                    defaultContent(data.successmsg, statusnumber);
                } else {
                    console.log("data.ok = false");
                    defaultContent(data.errormsg, statusnumber);
                }
            } else defaultContent(response.statusText, statusnumber);
        }

        question3_launch= async function() {
            //defaultContent('Questions !!');
            const statusnumber = "status3";
            var _urlstr = "/trailhead?action=checkDashboards&username=" + varusername + "&password=" + varpassword;
            let response = await fetch(_urlstr);
        
            console.log(response);
            console.log("response:", response.status);
            console.log("response:", response.statusText);
            
            if(response.status == 200) {
                let raw_data = await response.text();

                console.log("response data :", raw_data);
                data = JSON.parse(raw_data);
                
                if(data.ok == true) {
                    console.log("data.ok = true");
                    document.getElementById("question3").disabled = true;
                    document.getElementById("question3").innerHTML = "Done";
                    defaultContent(data.successmsg, statusnumber);
                } else {
                    console.log("data.ok = false");
                    defaultContent(data.errormsg, statusnumber);
                }
            } else defaultContent(response.statusText, statusnumber);
        }

        defaultContent = function (content, varwhere) {
            var para = document.createElement("p");
            para.classList.add('slds-m-vertical_medium');
            var node = document.createTextNode(content);
            para.appendChild(node);

            var element = document.getElementById(varwhere);
            element.appendChild(para);
        }

        </script>
        

    </main>
    <%- include ('../partials/footer') %>